/*About Page*/

p {
    font-size: 30px;
}
.links{
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
.aboutflex{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutitem{
    margin: 10px;
}

.statementheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
#gradphoto{
    border-radius: 50%;
    margin-right: 30px;
}
.statementtext{
    font-size: 60px;
    line-height: normal;
}


#sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    
}

.sidebaritem{
    border: solid 10px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 500px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 650px;
}
.sidebaritem1{
    border-color: rgb(206, 193, 176);
    background: rgb(226, 219, 209);
}

.sidebaritem2{
    
    border-color: #ABC3CE;
    background: #c2d4dd;
}
.sidebaritem3{
    border-color: #8FAA95;
    background: #c4d8c8;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 1100px;
}
.roundingbox1{
    background: rgb(226, 219, 209);
}
.roundingbox2{
    background: #c2d4dd;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.smimage{
    padding-left: 0px;
    padding-right: 30px;
}
.sidebarlines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    border-radius: 50px;
    margin-bottom: 30px;
}
#awardtext{
    font-size: 20px;
    margin: 30px;
    margin-top: 0px;
}
#essaytext{
    margin: 50px;
}



/*TABLET & DESKTOP CHANGES*/
@media screen and (min-width: 1200px){
    .aboutflex{
        flex-wrap: nowrap;
    }
    .aboutitem{
        width: 70%;
    }
    #sidebar{
        width: 500px;
    }
    .statementheader{
        flex-wrap: nowrap;
    }
    .statementtext{
        font-size: 70px;
        line-height: normal;
    }
}

/*MID*/
@media screen and (max-width: 1500px){
    .aboutflex{
        flex-wrap: nowrap;
    } 
    .aboutitem{
        width: 50%;
    }
    .statementheader{
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
}


/*SMALL PHONE SCREEN*/
@media screen and (max-width: 1000px){
    
    .aboutflex{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .aboutitem{
        width: 450px;
    }
    .statementheader{
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
    .statementtext{
        font-size: 60px;
        line-height: normal;
        text-align: center;
    }
    #gradphoto{
        margin-right: 0px;
    }
    .sidebaritem{
        width: 450px;
    }
    .aboutessay{
        width: 90%;
    }
    .sidebaritem3{
        height: 1300px;
    }
    #essaytext{
        font-size: 20px;
    }
}