/*COLORS
Green: #8FAA95
Blue: #ABC3CE
Grey:#636F75
Fonts:
font-family: 'Montserrat', sans-serif;
*/
/*FONT CSS*/

main{
    background-color: #FFFFFF;
}

/*LINKS N STUFF*/
a:link, a:visited {
  color: #000000;
    margin: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;}

a:hover {
    color: #FFFFFF;
}

#websitelinks{
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 35px;
}


/*GENERAL SETUP*/
ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 50px;
}
p{
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 40px;  
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 60px;
    line-height: 60px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

body {
    margin: 0;
}



/*ALL PAGES*/
main {
    width: 100%;
    height: 100%;
}

.header {
    background: #ABC3CE; /*Blue*/
    display: flex;
    justify-content: center;
    padding: 25px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.roundingboxheader1{
    background: #8FAA95;
}

.logo{
    width: 200px;
    border-radius: 0px;
}

.links {
    background: #8FAA95; /*Green*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    
}
.roundingboxheader2{
    background: #FFFFFF;
    
}

.footer {
    background: #ABC3CE; /*Blue*/
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-top: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}


/*HOME PAGE*/
.myface{
    border-radius: 50%;
    padding: 0px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar {
    padding: 30px;
    background: #ABC3CE; /*Blue*/
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    width: 400px;
    height: 950px;
}

.skills {
    height: 600px;
    width: 300px;
    padding: 40px;
    color: #636F75; 
}

.about1{
    padding:40px;
    padding-bottom: 0px;
}
.about2{
    padding: 40px;
    padding-top: 0px;
}


    /*Navigation*/
.portfoliolinks{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.navitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.navimage{
    border-radius: 50%;
    border: 10px solid #636F75;
    padding: 10px;
    margin:5px;
}

img.navimage:hover {
  border: 10px solid #ABC3CE;
}

/*Intro Vid*/
.videobox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.introvid{
    height: 400px;
    width: 711px;
}



/*TABLET & DESKTOP CHANGES*/
@media screen and (min-width: 1200px){

    /* GENERAL */
    .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    }

    .roundingboxheader2{
        background: #ABC3CE;
        border-bottom-right-radius: 100px;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }
    .sidebar{
        height:950px;
        margin-bottom: 20px;
    }

    .footercontent{
    display: flex;
    flex-direction: row;
    }

    .footeritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    }
    
    #logo{
        width: 15%;
    }
    .introvid{
        height: 800px;
        width: 1422px;
    }
    
}

/*SMALL PHONE SCREEN*/
@media screen and (max-width: 600px){

    .links {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        }

    .navimage{
        width:100px;
        border: 8px solid #636F75;
        padding: 8px;
    }

    img.navimage:hover {
        border: 8px solid #ABC3CE;
      }

    .introvid{
        height: 200px;
        width: 355px;
    }
}
