/*COLORS
Green: #8FAA95
Blue: #ABC3CE
Grey:#636F75
Fonts:
font-family: 'Montserrat', sans-serif;
*/
/*FONT CSS*/


/*WTF is wrong with GIT*/

/*LINKS N STUFF*/
a:link, a:visited {
  color: #000000;
    margin: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;}

a:hover {
  color: #FFFFFF;}

#innerlinks{
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 30px;}

a#innerlinks:hover {
  color: #E88CBA;}

#websitelinks{
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

a#websitelinks:hover {
  color: #E88CBA;}


/*GENERAL SETUP*/
p, ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 50px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    line-height: 40px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

body {margin: 0;}


iframe {
    border-radius: 35px;
    width: 120%;
}

img {
    padding: 20px;
}

/*BODY*/
main {
    width: 100%;
    height: 100%;
}
.header {
    background: #ABC3CE; /*Blue*/
    display: flex;
    justify-content: center;
    padding: 25px;
}

#logo{
    width: 40%;
    border-radius: 0px;
}

.links {
    background: #8FAA95; /*Green*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #636F75;
}
.myface{
    border-radius: 50%;
    padding: 0px;
}
.works {
    background: #FFFFFF;
    padding: 25px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center
}
.sidebar {

    padding: 30px;
    background: #ABC3CE; /*Blue*/
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    width: 400px;
    border-style: solid;
    border-color: #636F75;
    border-width: 10px;
    border-top-width: 0px;
    height: 1050px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*SKILLS SECTION*/
.skills {
    height: 600px;
    width: 300px;
    padding: 40px;
    color: #636F75; 
}


/*FOOTER*/
.footer {
    background: #000000;
}

.footercontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding: 20px;
}


.footeritem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
}

.footerimage {
    border-radius: 0px;
}

#email {
    color: #FFFFFF;
}
a#instalink {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
a#instalink:hover {
    color: #E88CBA;
}

a#footerlink{
    color: #e88CBA;
    display: flex;
    justify-content: center;
    padding: 30px;
}
a#footerlink:hover {
  color: #FFFFFF;
}

/*About Page*/
.skillsabout {
    display: flex;
    justify-content: center;
}

.skillitem {
    padding: 50px;
}

.about1{
    padding:40px;
}


/*TABLET & DESKTOP CHANGES*/
@media screen and (min-width: 960px){


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }
    .sidebar{
        height:1050px;
    }

.footercontent{
    display: flex;
    flex-direction: row;
    }

.footeritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    }
    #logo{
        width: 15%;
    }
    iframe{
        width: 900px;
    }

}
