/*Works Page*/

/*Works Consistent size :(*/

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image, .workimage1, .frametext{
    width: 400px;
    height: 300px;
}

.portfoliotitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  .worksection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.digitaldesign, .printdesign, .webdesign, .otherdesign{
    border: solid 10px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.digitaldesign{
    border-color: rgb(206, 193, 176);
    background: rgb(226, 219, 209);
}

.printdesign{
    
    border-color: #ABC3CE;
    background: #c2d4dd;
}
.webdesign{
    border-color: #8FAA95;
    background: #c4d8c8;
}

.otherdesign{
    border-color: rgb(206, 193, 176);
    background: rgb(226, 219, 209);
}

.outerbox1{
   background: rgb(226, 219, 209); 
}
.outerbox2{
    
    background: #c2d4dd;
 }
 .outerbox3{
    background: #c4d8c8;
 }

 .roundingboxfooter{
    background: rgb(226, 219, 209); 
 }

 .backtotop{
     width: 90%;
     padding: 100px;
 }



/*HOVER SECTION 1*/

.workitemsection1{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.workitem1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.workimage1 .workitem1 .workitemsection1 .caption-text1{
    height: 300px;
    width: 400px;
}

.workitemsection1 li:hover .caption1{
    opacity: 1;
}

.workitemsection1 .caption1{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}

.workitemsection1 image{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.blur1{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
}

.workitemsection1 .caption-text1 h1{
    font-size: 30px;
}

.workitemsection1 .caption-text1{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:40px;
}

/*HOVER SECTION 2*/

.workitemsection2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.workitem2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.workimage2 .workitem2 .workitemsection2 .caption-text2{
    height: 260px;
    width: 600px;
}

.workitemsection2 li:hover .caption2{
    opacity: 1;
}

.workitemsection2 .caption2{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}

.workitemsection2 image{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.blur2{
    background-color: rgba(0,0,0,0.65);
    height: 260px;
    width: 600px;
}

.workitemsection2 .caption-text2 h1{
    font-size: 30px;
}

.workitemsection2 .caption-text2{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 260px;
    width: 600px;
    text-align: center;
    top:40px;
}
#magazine{
    height: 260px;
    width: 600px;
}

#businesscard{
    height: 300px;
    width: 343px;
}




 /*TABLET & DESKTOP CHANGES*/
@media screen and (min-width: 1000px){

    /* GENERAL */
    .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    }

    .roundingboxheader2{
        background: #ABC3CE;
        border-bottom-right-radius: 100px;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }

    .footercontent{
    display: flex;
    flex-direction: row;
    }

    .footeritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    }
    
    #logo{
        width: 15%;
    }

        /*SECTION 1*/
    .workimage1, .workitem1{
        width: 800px;
        height: 600px;
    }

    .workitemsection1 .blur1{
        background-color: rgba(0,0,0,0.65);
        height: 600px;
        width: 800px;
    }
    .workitemsection1 .caption-text1{
        width: 800px;
        height: 600px;
        top:200px;
    }
    .workitemsection1 .caption-text1 h1{
        font-size: 60px;
    }

    /*SECTION 2*/
    .workitem2{
        padding: 100px;
    }
    .workimage2, .workitem2{
        width: 1000px;
        height: 435px;
    }

    .workitemsection2 .blur2{
        background-color: rgba(0,0,0,0.65);
        height: 435px;
        width: 1000px;
    }
    .workitemsection2 .caption-text2{
        width: 1000px;
        height: 435px;
        top:80px;
    }
    .workitemsection2 .caption-text2 h1{
        font-size: 60px;
    }

    #magazine{
        height: 435px;
        width: 1000px;
    }

    #businesscard{
        height: 600px;
        width: 686px;
    }
    


    
}

/*SMALL PHONE SCREEN*/
@media screen and (max-width: 700px){

    .navimage{
        width:100px;
        border: 8px solid #636F75;
        padding: 8px;
    }

    img.navimage:hover {
        border: 8px solid #ABC3CE;
      }


    /*magazine Smaller*/
    
    .workimage2, .workitem2{
        height: 175px;
        width: 400px;
    }

    .workitemsection2 .blur2{
        background-color: rgba(0,0,0,0.65);
        height: 175px;
        width: 400px;
    }
    .workitemsection2 .caption-text2{
        height: 175px;
        width: 400px;
        top:10px;
    }
    .workitemsection2 .caption-text2 h1{
        font-size: 20px;
        line-height: 150%;
    }
    
    #magazine{
        height: 175px;
        width: 400px;
    }
    
    .workitem2{
        padding-bottom: 100px;
    }
}